@media (max-width: 599px) {
    /* Estilos para smartphones em modo retrato e dispositivos móveis pequenos */
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Header*/
      .logo {
          font-size: 1.8rem;
      }
  
      .menu-icon, .close-icon {
          font-size: 2.2rem;
      }
  
      /*Menu Navegação*/
      .lista-navegacao li {
          font-size: 3rem;
      }
  
      /*Home*/
      .text-home h1 {
          font-size: 4rem;
      }
  
      .text-home span {
          font-size: 2.7rem;
      }
  
      .redes-sociais a {
          font-size: 1.8rem;
      }
  
      /*Headline*/
      .headline span {
          font-size: 1.6rem;
      }
  
      .headline h1 {
          font-size: 3rem;
      }
  
      /*About, Skills*/
      .about, .skills {
          width: 92%;
      }
  
      .img-about {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .img-about img {
          width: 100%;
      }
  
      .content-about-left h1 {
          font-size: 2rem;
      }
  
      .cta-about {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          padding-top: 1.6rem;
      }
      
      .btn-about {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          gap: 1rem;
      }
      
      .about-social {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 0.8rem;
          cursor: pointer;
          height: 100%;
          padding: 0;
      }
  
      /*Skills*/
      .skills-headline span {
          font-size: 1.6rem;
      }
  
      .skills-headline h1 {
          font-size: 2rem;
      }
  
      /*Services, Testimonial*/
      #services, #testimonial {
          width: 92%;
          height: auto;
      }
  
      .content-services {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
      }
  
      .card-service {
          border-radius: 25px;
          max-width: 45%;
          height: 320px;
      }
  
      .content-testmonial {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Projetos*/
      .projects {
          width: 92%;
          height: auto;
      }
  
      .cards-projects {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-content: center;
      }
  
      /*Contato*/
      .contact {
          border: 1px solid red;
          width: 92%;
          padding: 2rem 0;
          height: auto;
      }
  
      .container-contact {
          width: 100%;
          padding: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .contact {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .container-contact {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
      }
  
      .content-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
      }
  
      .left-contact,
      .right-contact {
          width: 100%;
      }
  
      .left-contact {
          display: flex;
          flex-direction: column;
          align-items: start;
      }
  
}
  
@media (min-width: 600px) and (max-width: 959px) {
    /* Estilos para smartphones em modo paisagem e tablets pequenos */
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Header*/
      .logo {
          font-size: 1.8rem;
      }
  
      .menu-icon, .close-icon {
          font-size: 2.2rem;
      }
  
      /*Menu Navegação*/
      .lista-navegacao li {
          font-size: 3rem;
      }
  
      /*Home*/
      .text-home h1 {
          font-size: 4rem;
      }
  
      .text-home span {
          font-size: 2.7rem;
      }
  
      .redes-sociais a {
          font-size: 1.8rem;
      }
  
      /*Headline*/
      .headline span {
          font-size: 1.6rem;
      }
  
      .headline h1 {
          font-size: 3rem;
      }
  
      /*About, Skills*/
      .about, .skills {
          width: 92%;
      }
  
      .img-about {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .img-about img {
          width: 100%;
      }
  
      .content-about-left h1 {
          font-size: 2rem;
      }
  
      .cta-about {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          padding-top: 1.6rem;
      }
      
      .btn-about {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          gap: 1rem;
      }
      
      .about-social {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 0.8rem;
          cursor: pointer;
          height: 100%;
          padding: 0;
      }
  
      /*Skills*/
      .skills-headline span {
          font-size: 1.6rem;
      }
  
      .skills-headline h1 {
          font-size: 2rem;
      }
  
      /*Services, Testimonial*/
      #services, #testimonial {
          width: 92%;
          height: auto;
      }
  
      .content-services {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
      }
  
      .card-service {
          border-radius: 25px;
          max-width: 45%;
          height: 320px;
      }
  
      .content-testmonial {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Projetos*/
      .projects {
          width: 92%;
          height: auto;
      }
  
      .cards-projects {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-content: center;
      }
  
      /*Contato*/
      .contact {
          border: 1px solid red;
          width: 92%;
          padding: 2rem 0;
          height: auto;
      }
  
      .container-contact {
          width: 100%;
          padding: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .contact {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .container-contact {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
      }
  
      .content-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
      }
  
      .left-contact,
      .right-contact {
          width: 100%;
      }
  
      .left-contact {
          display: flex;
          flex-direction: column;
          align-items: start;
      }
}
  
@media (min-width: 960px) and (max-width: 1279px) {
    /* Estilos para tablets e dispositivos em tamanho médio */
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Header*/
      .logo {
          font-size: 1.8rem;
      }
  
      .menu-icon, .close-icon {
          font-size: 2.2rem;
      }
  
      /*Menu Navegação*/
      .lista-navegacao li {
          font-size: 3rem;
      }
  
      /*Home*/
      .text-home h1 {
          font-size: 4rem;
      }
  
      .text-home span {
          font-size: 2.7rem;
      }
  
      .redes-sociais a {
          font-size: 1.8rem;
      }
  
      /*Headline*/
      .headline span {
          font-size: 1.6rem;
      }
  
      .headline h1 {
          font-size: 3rem;
      }
  
      /*About, Skills*/
      .about, .skills {
          width: 92%;
      }
  
      .img-about {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .img-about img {
          width: 100%;
      }
  
      .content-about-left h1 {
          font-size: 2rem;
      }
  
      .cta-about {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          padding-top: 1.6rem;
      }
      
      .btn-about {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          gap: 1rem;
      }
      
      .about-social {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 0.8rem;
          cursor: pointer;
          height: 100%;
          padding: 0;
      }
  
      /*Skills*/
      .skills-headline span {
          font-size: 1.6rem;
      }
  
      .skills-headline h1 {
          font-size: 2rem;
      }
  
      /*Services, Testimonial*/
      #services, #testimonial {
          width: 92%;
          height: auto;
      }
  
      .content-services {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
      }
  
      .card-service {
          border-radius: 25px;
          max-width: 45%;
          height: 320px;
      }
  
      .content-testmonial {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Projetos*/
      .projects {
          width: 92%;
          height: auto;
      }
  
      .cards-projects {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-content: center;
      }
  
      /*Contato*/
      .contact {
          border: 1px solid red;
          width: 92%;
          padding: 2rem 0;
          height: auto;
      }
  
      .container-contact {
          width: 100%;
          padding: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .contact {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .container-contact {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
      }
  
      .content-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
      }
  
      .left-contact,
      .right-contact {
          width: 100%;
      }
  
      .left-contact {
          display: flex;
          flex-direction: column;
          align-items: start;
      }
  
}
  
@media (min-width: 1280px) and (max-width: 1919px) {
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Header*/
      .logo {
          font-size: 1.8rem;
      }
  
      .menu-icon, .close-icon {
          font-size: 2.2rem;
      }
  
      /*Menu Navegação*/
      .lista-navegacao li {
          font-size: 3rem;
      }
  
      /*Home*/
      .text-home h1 {
          font-size: 4rem;
      }
  
      .text-home span {
          font-size: 2.7rem;
      }
  
      .redes-sociais a {
          font-size: 1.8rem;
      }
  
      /*Headline*/
      .headline span {
          font-size: 1.6rem;
      }
  
      .headline h1 {
          font-size: 3rem;
      }
  
      /*About, Skills*/
      .about, .skills {
          width: 92%;
      }
  
      .img-about {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .img-about img {
          width: 100%;
      }
  
      .content-about-left h1 {
          font-size: 2rem;
      }
  
      .cta-about {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          padding-top: 1.6rem;
      }
      
      .btn-about {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          gap: 1rem;
      }
      
      .about-social {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 0.8rem;
          cursor: pointer;
          height: 100%;
          padding: 0;
      }
  
      /*Skills*/
      .skills-headline span {
          font-size: 1.6rem;
      }
  
      .skills-headline h1 {
          font-size: 2rem;
      }
  
      /*Services, Testimonial*/
      #services, #testimonial {
          width: 92%;
          height: auto;
      }
  
      .content-services {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
      }
  
      .card-service {
          border-radius: 25px;
          max-width: 45%;
          height: 320px;
      }
  
      .content-testmonial {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Projetos*/
      .projects {
          width: 92%;
          height: auto;
      }
  
      .cards-projects {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-content: center;
      }
  
      /*Contato*/
      .contact {
          border: 1px solid red;
          width: 92%;
          padding: 2rem 0;
          height: auto;
      }
  
      .container-contact {
          width: 100%;
          padding: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .contact {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .container-contact {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
      }
  
      .content-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
      }
  
      .left-contact,
      .right-contact {
          width: 100%;
      }
  
      .left-contact {
          display: flex;
          flex-direction: column;
          align-items: start;
      }
}
  
@media (min-width: 1920px) {
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Header*/
      .logo {
          font-size: 1.8rem;
      }
  
      .menu-icon, .close-icon {
          font-size: 2.2rem;
      }
  
      /*Menu Navegação*/
      .lista-navegacao li {
          font-size: 3rem;
      }
  
      /*Home*/
      .text-home h1 {
          font-size: 4rem;
      }
  
      .text-home span {
          font-size: 2.7rem;
      }
  
      .redes-sociais a {
          font-size: 1.8rem;
      }
  
      /*Headline*/
      .headline span {
          font-size: 1.6rem;
      }
  
      .headline h1 {
          font-size: 3rem;
      }
  
      /*About, Skills*/
      .about, .skills {
          width: 92%;
      }
  
      .img-about {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  
      .img-about img {
          width: 100%;
      }
  
      .content-about-left h1 {
          font-size: 2rem;
      }
  
      .cta-about {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          padding-top: 1.6rem;
      }
      
      .btn-about {
          width: 80%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          gap: 1rem;
      }
      
      .about-social {
          width: 70%;
          height: 100%;
          display: flex;
          justify-content: end;
          flex-direction: row;
          gap: 0.8rem;
          cursor: pointer;
          height: 100%;
          padding: 0;
      }
  
      /*Skills*/
      .skills-headline span {
          font-size: 1.6rem;
      }
  
      .skills-headline h1 {
          font-size: 2rem;
      }
  
      /*Services, Testimonial*/
      #services, #testimonial {
          width: 92%;
          height: auto;
      }
  
      .content-services {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
      }
  
      .card-service {
          border-radius: 25px;
          max-width: 45%;
          height: 320px;
      }
  
      .content-testmonial {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      /*Projetos*/
      .projects {
          width: 92%;
          height: auto;
      }
  
      .cards-projects {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
          justify-content: center;
      }
  
      /*Contato*/
      .contact {
          border: 1px solid red;
          width: 92%;
          padding: 2rem 0;
          height: auto;
      }
  
      .container-contact {
          width: 100%;
          padding: 0rem 0rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
  
      .contact {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .container-contact {
          width: 100%;
          height: 100%;
          padding: 2rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          flex-grow: 1;
      }
  
      .content-contact {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
      }
  
      .left-contact,
      .right-contact {
          width: 100%;
      }
  
      .left-contact {
          display: flex;
          flex-direction: column;
          align-items: start;
      }
  }